package ${packageName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import com.huc.common.core.page.TableDataInfo;
import ${packageName}.domain.${ClassName};
import ${packageName}.vo.${ClassName}Vo;

import java.util.List;

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends IService<${ClassName}> {

    /**
     * 分页查询
     *
     * @param entity
     * @return
     */
    TableDataInfo<${ClassName}Vo> queryList(${ClassName}Vo entity);

    /**
     * 查询全部
     *
     * @param entity
     * @return
     */
    List<${ClassName}Vo> queryAll(${ClassName}Vo entity);

    /**
     * 根据ID查询
     *
     * @param ${pkColumn.javaField}
     * @return
     */
    ${ClassName}Vo queryById(Long ${pkColumn.javaField});
}
