<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.mapper.${ClassName}Mapper">

    <sql id="querySql">
        select <include refid="allField"/>
        from ${tableName} A
        <include refid="search"/>
    </sql>

    <select id="queryList" resultType="${packageName}.vo.${ClassName}Vo">
        <include refid="querySql"/>
        #foreach ($column in $columns)
        #if($column.query)
        #if($column.javaType == 'String')
        <if test="entity.$column.javaField != null and entity.$column.javaField != ''">
            and A.${column.columnName} like concat('%', #{entity.$column.javaField}, '%')
        </if>
        #else
        <if test="entity.$column.javaField != null and entity.$column.javaField != 0">
            and A.${column.columnName} = #{entity.$column.javaField}
        </if>
        #end
        #end
        #end
        order by A.create_time desc
    </select>

    <select id="queryById" resultType="${packageName}.vo.${ClassName}Vo">
        <include refid="querySql"/>
        and A.id = #{id}
    </select>

    <sql id="allField">
        #foreach ($column in $columns)
        #if($foreach.hasNext)
        A.${column.columnName},
        #else
        A.${column.columnName}
        #end
        #end
    </sql>

    <sql id="search">
        where A.delete_status = 1
    </sql>
</mapper>
